<% content_for :title do %>About<% end %>
<h3>About Kinley Drukpa<h3>
<p>She was born somewhere in San Diego. We think on the streets (at least that's the backstory we've created). She's extremely cute though also very tired of the world. She likes sleeping, napping, and long walks on the beach. He favorite drink is water and her favorite food is cat food.</p>